Objective 2/Data/STUDIES2PROCESS/MB_toprocess/SAFO-X/doi_10_5061_dryad_s4td3__v20161215.zip
Objective 2/Data/STUDIES2PROCESS/MB_toprocess/SAFO-X/.DS_Store
Objective 2/Data/SAFO-7/doi_10_5061_dryad_vk405__v20180302.zip
Objective 2/Data/STUDIES2PROCESS/MB_toprocess/SAFO-X.2/doi_10_5061_dryad_vk405__v20180302.zip
Objective 2/Data/STUDIES2PROCESS/MB_toprocess/ETTR-1/doi_10_5061_dryad_jq2bvq8g6__v20230926.zip
Objective 2/Data/STUDIES2PROCESS/MB_toprocess/WESTERN SUCKS/alignments/lcr_catostomus.phy
Objective 2/Data/STUDIES2PROCESS/MB_toprocess/WESTERN SUCKS/alignments/lcr_pantosteus.phy
Objective 2/Data/PADI-1/alignments/lcr_catostomus.phy
Objective 2/Data/PADI-1/alignments/lcr_pantosteus.phy
Objective 2/Data/CALA-1/alignments/lcr_catostomus.phy
Objective 2/Data/CALA-1/alignments/lcr_pantosteus.phy
